// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #22262B;
$light-gray: #F0F2F4;
$purple: #52123C;
$orange: #EAA944;


