
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <p>Fique a vontade para nos mandar um email sobre qualquer assunto (de verdade) :</p>
          <p class="orange">ajuda@luvotels.com</p>

        </div>
          <div class="col-md-6 col-xs-12">
            <p>Não curte emails e prefere conversar por telefone? Ficaremos muito felizes em conversar e fazer nosso melhor para atendê-lo.</p>
            <p class="orange">+55 11 99665-5376</p>
        </div>
      </div>
    </div>
  </div>

