

<div class="around" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=asset_path("alone.jpeg")%>);">
  <div class="around-content">
    <h1>Oops! Your motel is not online :-O</h1>
    <p>Stop loosing customers and get in touch with us:</p>
    <p>Phone: +55 11 99665-5376</p>
    <p>Email: ajuda@luvotels.com</p>
  </div>
</div>




