.intro.fullscreen
  .container
    .row
      h1 O FUTURO FINALMENTE CHEGOU AOS MOTÉIS
      .col-md-4.col-xs-12.box
        = image_tag "phone1ppt.png", height: 400
        h3 Você escolhe as suítes que estão disponíveis.
      .col-md-4.col-xs-12.box
        = image_tag "phone2ppt.png", height: 400
        h3 Os clientes procuram e acham as suas suítes.
      .col-md-4.col-xs-12.box
        = image_tag "phone3ppt.png", height: 400
        h3 Eles escolhem o período e pagam antecipadamente.
