.revenue {
  margin-top: 30px;
  min-height: 1px;
}

.total {
  padding-right: 20px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h1 {
    margin-top: 0px;
    padding-left: 20px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  align-items: flex-start;
  h3 {
    margin-top: 0px;
  }
  p {
    font-size: 15px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  &:hover {
    background-color: $light-gray;
    opacity: 0.6;
  }
}

.logo {
  width: 20%;
  height: 20%;
}

.overall {
  flex: 1 0 auto;
  padding: 20px;
}

.overall-bel {
  display: flex;
  flex-wrap: wrap;
}

.overall-bel-item {
  padding: 10px;
  flex: 1 0 auto;
}

.earned {
  padding: 20px;
}

.around {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }

  img {
    max-height: 100vh;
  }
}



