h1 {
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  @media (max-width: $screen-sm-max) {
    font-size: 28px;
  }
}

h3{
  font-size: 23px;
}

p {
  font-size: 18px;
}

.orange {
  color: $orange;
}

.fullscreen {
  min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.link {
  text-decoration: none;
  margin-bottom: 0px;
  font-size: 15px !important;
  font-weight: thin;
  color: $orange;

  &:hover {
    text-decoration: none;
    color: $orange;
    opacity: 0.6;
  }

}
